.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 1% 5%;
    border: 0;
    font-size: 1.5em;
    background-color: black;
    box-shadow: 0 0 30px black;
}
.navbar-brand {
	float: left;
    min-height: 55px;
    padding: 0 0 0;
	
}
.navbar-brand img {
    height: 150px;
    margin-top: -15px;	
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
    color: #FFFFFF;
    background-color: #008dd3;
}
.navbar-inverse .navbar-nav li a {
    color: #FFFFFF;
    background-color: black;
}
.navbar-inverse .navbar-nav li a:focus,
.navbar-inverse .navbar-nav li a:hover {
    color: #FFFFFF;
    background-color: #008dd3;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-35%);
    text-transform: uppercase;
}
.btn {
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 22px;
    border: 2px solid #FFF;
    background-color: #008dd3;
}
.btn:hover {
    background-color: #008dd3;
}
#icon {
    max-width: 200px;
    margin: 1% auto;
}
.container {
    margin: 4% auto;
}
footer {
    background-color: black;
    color: #FFFFFF;
    padding: 5%;
    width: 100%;
}
.fa {
    padding: 15px;
    font-size: 25px;
    color: black;
}
footer .fa {
    padding: 15px;
    font-size: 25px;
    color: white;
}
.fa:hover {
    color: #D5D5D5;
    text-decoration: none;
}
@media(max-width: 900px) {
    .fa {
        font-size: 20px;
        padding: 10px;
    }
}
@media(max-width: 600px) {
    .navbar {
        font-size: 1em;
    }
    .navbar-brand img {
        margin-top: -2px;
        height: 60px;
    }
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

nav.navbar.shrink {
    height: 10%;
}

nav.shrink a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
    height:10%;
}

nav.shrink .navbar-brand ,nav.shrink .navbar-brand img{
    height:50px;
}

nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}


.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}


.lib-panel .col-md-6 {
    padding: 20px;
    background-color: whitesmoke;
    width: 50%;
    border: 5px solid black;
}
.lib-panel .row {
    padding: 20px;
    background-color: whitesmoke;
    transform: translateX(5%);
    margin-top: 10%;
    width:200%;
    /*border: 2px solid black;*/
}

.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    font-size: 20px;
    padding: 10px 20px 0 20px;
}
.lib-panel .lib-row.lib-header span {
    background: #f05133;
    text-transform: uppercase;
    font-size: 2em;
    font-family: sans-serif;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
        height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

    .box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
